{{#allParams}}{{paramName}}: {{#required}}{{dataType}}{{/required}}{{^required}}{{#isContainer}}{{dataType}}{{/isContainer}}{{^isContainer}}Option[{{dataType}}]{{/isContainer}}{{/required}}{{^defaultValue}}{{^required}}{{^isContainer}} = None{{/isContainer}}{{/required}}{{/defaultValue}}{{#hasMore}}, {{/hasMore}}{{/allParams}}{{^allParams.isEmpty}}, {{/allParams.isEmpty}}rc: ApiRequest.Config = ApiRequest.Config())(
    implicit ec: ExecutionContext{{#authMethods.0}}, {{#authMethods}}{{#isApiKey}}apiKey: ApiRequest.ApiKey{{/isApiKey}}{{#isBasic}}basicAuth: ApiRequest.BasicCredentials{{/isBasic}}{{#hasMore}}, {{/hasMore}}{{/authMethods}}{{/authMethods.0}}