"{{baseName}}", {{#isContainer}}ApiParams.ArrayValues({{paramName}}{{#collectionFormat}}, ApiParams.CollectionFormats.{{collectionFormat.toUpperCase}}{{/collectionFormat}}){{/isContainer}}{{^isContainer}}{{paramName}}{{/isContainer}}