organization := "{{projectOrganization}}"

name := "{{projectName}}"

version := "{{projectVersion}}"

scalaVersion := "{{scalaVersion}}"

libraryDependencies ++= Seq(
  "com.typesafe.play" %% "play-ws" % "2.6.11",
  "com.typesafe.play" %% "play-json" % "2.6.8",
  "ai.x" %% "play-json-extensions" % "0.10.0",
  "javax.inject" % "javax.inject" % "1"
)
