organization := "{{projectOrganization}}"

name := "{{projectName}}"

version := "{{projectVersion}}"

scalaVersion := "{{scalaVersion}}"

val playVersion = "{{playVersion}}"

libraryDependencies ++= Seq(
  "com.typesafe.play" %% "play-ws" % playVersion,
  "com.typesafe.play" %% "play-json" % playVersion,
  "ai.x" %% "play-json-extensions" % "0.10.0",
  "javax.inject" % "javax.inject" % "1"
)
